* {
    border: 0px;
}

.locating-department {
    background-image: radial-gradient(rgba(77, 79, 63, 0.634), rgb(247, 168, 168));
}

.profile-logo-box{
    background-image: radial-gradient(rgb(105, 60, 90), white);
    border-radius: 5px;
    padding: 3px;
}
.profile-logo{
    width: 1.4em;
}

.card {
    border: none;
    background-image: radial-gradient(white, rgb(95, 76, 104));
}
.detail-container {
    width: 300px;
    background-image: url("profile_pic.jpg");
    background-size: cover;
    margin-top: 20px;
    height: 400px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid rgb(247, 151, 42);
}
.about-me {
    color: rgb(255, 170, 1);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}
.more {
    color: rgb(86, 64, 87);
}
.custome-button {
    width: 130px;
    border: none;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(pink, rgb(203, 201, 201));
}
#special-button {
    background-color: transparent;
    width: 130px;
    border: 3px solid pink;
    color: rgb(246, 133, 5);
    border-radius: 15px;
    font-weight: 550;
}

.subtitle{
    font-size: 20px;
    font-weight: 600;
}
.project-name{
    font-size: 19px;
    font-weight: 550;
    color: rgb(67, 89, 89);
}
.project-container{
    border-radius: 15px;
}
.project-image{
    width: 80%;  
    border: 5px solid pink;
    padding: 1px;
    border-radius: 10px;
}
.link{
    color: white;
    font-weight: 600;
}

.contact-detail-logo {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(159, 154, 154));
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 5px;
}

.contact-logo{
    color: rgb(71, 71, 71);
}
.contact-detail {
    margin-bottom: 60px;
}



























